<div class="auth-wrapper align-items-stretch aut-bg-img">
    <div class="flex-grow-1">
      <div class="h-100 d-md-flex align-items-center auth-side-img">
        <div class="col-sm-10 auth-content w-auto">
          <h1 class="text-white my-4">Bem Vindo!</h1>
          <h4 class="text-white font-weight-normal">Sistema de Gerenciamento escolar</h4>
        </div>
      </div>
      <div class="auth-side-form">
        <form [formGroup]="form" class="editForm" novalidate>
          <div class="auth-content">
            <h4 class="mb-4 f-w-400">Escolha a Unid. de Ensino</h4>
            <div class="input-group mb-3" *ngIf="unidades.length > 0">
              <select name="select" class="form-control form-control-default" [ngClass]="{'is-invalid' : required('unidade')}" (change)="onChangeUnidade($event)" formControlName="unidade">
                <option [ngValue]="null">Selecione uma Unidade de Ensino</option>
                <option *ngFor="let unidade of unidades" [value]="unidade.value" >{{unidade.name}}</option>
              </select>
              <label *ngIf="required('unidade')" id="validation-required-error" class="error jquery-validation-error small form-text invalid-feedback">Campo Obrigatório</label>
            </div>

            <div class="input-group mb-3" *ngIf="unidades.length > 0">
              <select name="select" class="form-control form-control-default" [ngClass]="{'is-invalid' : required('periodo')}" (change)="onChangePeriodo($event)" formControlName="periodo">
                <option [ngValue]="null">Selecione o Período Letivo</option>
                <option *ngFor="let periodo of periodos" [value]="periodo.value" >{{periodo.name}}</option>
              </select>
              <label *ngIf="required('periodo')" id="validation-required-error" class="error jquery-validation-error small form-text invalid-feedback">Campo Obrigatório</label>
            </div>

            <div class="input-group mb-3">
              <select name="select" class="form-control form-control-default" [ngClass]="{'is-invalid' : required('subdivisao')}" formControlName="subdivisao">
                <option [ngValue]="null">Selecione a Subdivisão</option>
                <option *ngFor="let subdivisao of subdivisoes" [value]="subdivisao.value" >{{subdivisao.name}}</option>
              </select>
              <label *ngIf="required('subdivisao')" id="validation-required-error" class="error jquery-validation-error small form-text invalid-feedback">Campo Obrigatório</label>
            </div>
            <button type="button" class="btn btn-block btn-primary" (click)="logon()">Logon</button>
            <button type="button" class="btn btn-block btn-secondary" (click)="voltar()">Voltar</button>
          </div>
        </form>
      </div>
    </div>
  </div>